.flex {
  justify-content: space-between;
}
.games {
  display: flex;
  padding: 20px 15px;
  flex-wrap: wrap;
  max-width: 880px;
}

.game {
  height: 315px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c9c9c9;
  margin: 10px;  
  flex-basis: 30%;

  .game_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #bdbcff;
    color: #fff;
    height: 150px;    
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 24px;

    .price {
      text-transform: uppercase;
      text-align: right;
      line-height: 1;
    }
  }

  .main_part {
    padding: 10px;

    .description {
      height: 110px;
      overflow: hidden;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

.filters {
  margin-top: 40px;
  justify-self: flex-end;
  flex-basis: 200px;

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .price {
    margin-bottom: 25px;

    &-text {
      text-align: center;
      height: 22px;
      width: 130px;
    }
  }

  .tag {

    &-item {
      padding-left: 15px;

      label {
        margin-left: 10px;
      }
    }
  }
}