<div class="flex-box">
  <div class="container">
    <form *ngIf="profileForm" [formGroup]="profileForm" (submit)="submit()">
      <h2 class="text-center">Profile</h2>
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" formControlName="username">
      </div>
      <div class="form-control">
        <label for="email">Email</label>
        <input type="text" placeholder="Email" formControlName="email">
      </div>
      <div class="form-control">
        <label for="age">Age</label>
        <input type="text" placeholder="Age" formControlName="age">
      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!profileForm.valid">Save</button>
    </form>
  </div>
  <div class="message" *ngIf="message">{{message}}</div>
</div>

