<div class="container">
  <h2>Friends</h2>

  <div class="form-control">
    <label for="searchFriend">Search Friends</label>
    <input id="searchFriend" type="text" [(ngModel)]="search" placeholder="Search Friends">
  </div>

  <div *ngIf="friends.length">
    <ul class="friends">
      <li *ngFor="let user of friends">
        <div class="friend">
          <span>{{user}}</span>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="search">
    <h2>Search Friends: {{search}}</h2>
    <ul class="friends">
      <li *ngFor="let user of uniqUsers | searchFilter: search">
        <div class="friend">
          <span>{{user.username}}</span>
          <button 
            class="btn btn-primary" 
            (click)="addFriend(user.username)"
            >Add Friend</button>
        </div>
      </li>
    </ul>
  </div>
  
</div>